html{
  background-color: #21428F;
}

h1 {
  text-align: center;
}
header {
  max-height: 500px;
  background-color: red;
  height: 100px;

}
#search-form {
  text-align: right;
  margin-left: 27%;
  text-align: right;
  margin-left: 31%;
}
#searchbar {
  width: 275px;
  margin-left: 110%;
  margin-top: -15%;
  margin-bottom: 20px;
}
ul {
  display: inline;
  margin-top: 50px;
  float: left;
}
nav {
  display: inline-block;
  width: 1000px;
  max-width: 500px;
  margin-left: -800px;
  margin-top: 500px;
}
.submit {
	-moz-box-shadow:inset 0px 0px 15px 3px #23395e;
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
	background-color:#2e466e;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
	background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);

	background-color:#415989;
}
.submit:active {
	position:relative;
  -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
}
.submit2 {
  margin-left: 650px;
  margin-bottom: 10px;
	-moz-box-shadow:inset 0px 0px 15px 3px #23395e;
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
	background-color:#2e466e;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.submit2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
	background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);

	background-color:#415989;
}
.submit2:active {
	position:relative;
  -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
}
#search {
  position: absolute;
  top: 32.5%;
  margin-left: -5%;
}
button {
  position: relative;
  top: 5%;
  /*margin-left: 900px;*/
  display: block;
  padding-top: 30px;
}
.about {
  font-family: fantasy;
  text-align: center;
  text-shadow: 5px;
  font-size: 20px;
  margin-left: 350px;
  margin-right: 350px;
}

.blog1{
  text-align: center;
  margin-left: 500px;
}
.blog2 {
  height: auto;
  margin-left: auto;
}
.blog3{
  text-align: center;
  margin-left: 0px;
}
li {
  display: inline;
  margin-left: 5%;
  position: relative;
  margin-top: 50px;
}
#homeLogo {
  max-width: 33%;
  height: 75px;
  position: absolute;
  margin-top: 0.2%;
  margin-left: 1%;
  display: inline-block;
  border-radius: 70px;
}
img {
  border-radius: 70px;
  max-width: 33%;
  height: 130px;
}

h1{
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: cursive;
}

sidebar {
  float: left;
  text-align: left;
}

a.nav {
  display: inline;
  font-size: 20px;
  width: 50px;
  color: black;
  text-decoration: none;
  font-style: normal;
  margin-top: 15px;
}
a.nav:hover {
  border-radius: 5px;
}
a.nav:active {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 10000px rgba(0,0,0,0.025);
}
a {
  text-decoration: underline;
  font-style: italic;
  color: red;
}
a:visited {
}
#blogs {
  text: white;
  font-size: 20px;
  border-style: solid;
  border-right: 10px;
  /*border-left:10px;*/
  border-color: rgb(100, 101, 102);
  padding: 30px;

}
.avatar {
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.15);
  border-radius: 65px;
  margin-left: 75px;
  margin-top: 60px;
  float: left;
}
.avatar2 {
  margin-left: 3%;
  margin-top: -0.5%;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.15);
  border-radius: 65px;
  float: left;
}
hr{
  border-top: 20px;
  color: red;
}
body {
    color: white;
}
p{
  max-width: 750px;
  padding-left: 250px;
}
input {
  /*max-width: 300px;*/
  /*position: relative;
  display: block;
  margin-top: -15px;
  margin-left: 960px;
  padding-bottom: 0;*/
}
select {
  /*display: block;
  position: relative;*/
  /*left:200px;
  top: -17px;
  padding-bottom: 0;
  width: 130px;*/
}
label {
  font-size: 20px;
  width: 200px;

  /*margin-left: 350px;*/
  padding-bottom: 0;
  text-align: right;
}
#submit {
  margin-left: 47%;
}
#homeH1 {
  margin-left: 55%;
  float: right;
  margin-right: 1%;
  margin-top: -2%;

}
.menu {
  margin-left: 50%;
}
