html{
  background-color: #21428F;
}
#search-form {
  text-align: center;
  padding-right: 70px;
}
#searchbar {
  width: 275px;
}
button {
  float: right;
  position: absolute;

  margin-left: 950px;
  display: inline-block;
}
.about{
  font-family: fantasy;
  text-align: center;
  text-shadow: 5px;
  font-size: 20px;
  margin-left: 350px;
  margin-right: 350px;
}
nav {
  max-height: 50px;
}
li {
  display: inline;
  margin-left: 22%;
}
img {
  max-width: 130px;
  height: 130px;
  position: absolute;
  margin-top: 3%;
  margin-left: 19%;
  display: inline-block;
}

h1{
  font-size: 100px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: cursive;
  max-width: auto;
}

sidebar {
  float: left;
  text-align: left;
}

a {
  font-size: 20px;
  color: red;
  text-decoration: none;
}
a:hover {
  background-color: white;
  border-radius: 5px;
}

#blogs {
  text: white;
  font-size: 20px;
  border-style: solid;
  border-right: 10px;
  /*border-left:10px;*/
  border-color: rgb(100, 101, 102);
  padding: 30px;

}
.avatar {
  margin-left: 50px;
  margin-top: 5px;
}
hr{
  border-top: 20px;
  color: red;
}
body {
    color: white;
}
p{
  max-width: 750px;
  padding-left: 250px;
}
label {
  display: block;
}
input {
  max-width: 200px;
  display: block;
}
select {
  display: block;
}
